
.demo{
    background: #4dd0e1;
    color: #FFFFFF;
    height: 3em;
    line-height: 3em;
    text-align: center;
  }
  
  .demo-align{
    background: #4dd0e1;
    color: #FFFFFF;
    height: 3em;
    line-height: 3em;
  }
  
  .demo-align-vertical{
    background: #4dd0e1;
    color: #FFFFFF;
    height: 3em;
  }
  
  .doc{
    background: #f5f5f5;
    border: 0.02em solid #999999;
    border-radius: 0.28571429rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
    -webkit-transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
    transition: box-shadow 0.1s ease, -webkit-transform 0.1s ease;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
    margin: 1em;
    padding: 1em;
  }